html { height:100%; }

body {
    
    background-color: white;   
    margin:0px;
    height:100%;
    overflow:hidden;
    
}

.title {
    position: absolute;
    font-size: 32px;
    font-family: Verdana;
    top: 3%;
    left: 3%;
    color: darkgray;
    margin:0px;
    
}

.upgradeTxt {
    
    position: absolute;
    font-size:16px;
    font-family:Verdana;
    left:3%;
    color:darkgray;
    margin:0px;
    cursor:pointer;
    
}

.upgradeTitle {
    
    position:absolute;
    left:3%;
    font-family:Verdana;
    font-size:12px;
    top:1%;
    color:darkgray;
    margin:0px;
    
}

.fallingImg {
    
    position:absolute;
    height:10%;
    width:10%;
    
}
            
.excrement {

	position: absolute;
	height:5%;
	width:5%;
	cursor: pointer;
	 
}

.alertMsg {
    
    position: absolute;
    left: 30%;
    margin:0px;
    font-style:Verdana;
    font-size: 16px;
    color: deeppink;
    
}

.gas {
	
	position: absolute;
	margin:0px;
	background-color:lightgreen;
	display:block;
	border-radius:100%;
	width:4%;
	height:4%;
	margin:0px;
	
}

.bird {
	
	position:absolute;
	margin:0px;
	width:9.77%;
	height:10%;
	cursor:pointer;
	
}

.clinic_item {
	
	left:0%;
	height:15%;
	width: calc (100% - 3px);
	z-index:4;
	border-style:solid;
	border-color:white;
	border-width:2px;
	margin: 1%;
	position: relative;
	
}

.clinic_item_title {
	
	position: relative;
	font-family: Verdana;
	font-size: 22px;
	top: calc(1% + 9px);
	left:1%;
	margin:0%;
	color:white;
	
}

.clinic_item_description {
	
	position: relative;
	font-family: Arial;
	font-size: 11px;
	top:10%;
	left:1%;
	margin:0%;
	color:white;
	width: 30%;
	
}

.clinic_item_purchase {
	
	position: absolute;
	top: 70%;
	width: 144px;
	font-family: Verdana;
	font-size: 18px;
	margin:0%;
	left:1%;
	
}

#the_dog {
    
    margin: 0px;
    position:absolute;
    top:calc(50% - 160px);
    left:calc(50% - 240px);
    cursor:pointer;
    
}

#barks {
     
    position: absolute;
    top: 90%;
    left: 90%;
    margin: 0px;
    color: hotpink;
    font-size: 32px;
    font-family: Verdana;
    
}

#upgrades {
    
    position: absolute;
    top: 10%;
    left: 1%;
    height:80%;
    width:20%;
    border-style:solid;
    margin: 0px;
    border-color: lightgray;
    
}

#overlay {
	
	position: relative;
	top:0px;
	left:0px;
	height:100vh;
	width:100%;
	margin:0px;
	color:white;
	background-color: rgba(0,0,0,0.5);
	z-index:1;
	
}

#importantMsgBox {
	
	position: absolute;
	top:35%;
	left:35%;
	height:30%;
	width:30%;
	background-color:white;
	z-index:6;
	border-style:solid;
	border-width:1px;
	
}

#importantMsgBoxText {
	
	position: relative;
	margin: 3%;
	color: gray;
	font-size: 18px;
	font-family: Verdana;
	
}

#importantMsgBoxButton {

	position: absolute;
	top:44%;
	left:44%;
	height:12%;
	width:12%;
	font-size:13px;
	font-family: Tahoma;

}

#gasSafezone {
    
    position: absolute;
    height:15%;
    width:15%;
    background-color: lightblue;
    z-index:1;
    
}

#clinic {
    
    position: absolute;
    height:180px;
    width:180px;
    cursor:pointer;
    top:0%; 
    left: calc(100% - 180px);
    
}

#clinic_overlay {
	
	position: absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	background-color:lightgray;
	z-index:3;
	
}

#clinic_exit {
	
	position: absolute;
	top:0%;
	left: calc(100% - 86px);
	height:80px;
	width:80px;
	border-color:black;
	border-style:solid;
	border-width:3px;
	cursor:pointer;
	z-index:5;
	
}